li {
  list-style-type: none;
  color: #571717;
  font-weight: bold;
  font-size: 22px;
  text-shadow: 2px 2px 3px #fff;
}

@media screen and (min-width: 300px) {
  .col-md-3 {
    background-color: blue;
  }
}

@media screen and (min-width: 500px) {
  .col-md-3 {
    background-color: purple;
  }
}

.container {
  background-color: #0088ff
}
